# Python cache ve bytecode dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Virtualenv
venv/
.env/

# Model dosyaları ve büyük ağırlıklar
yolov5/runs/
*.pt
*.pth
*.h5
*.onnx

# OS
.DS_Store
Thumbs.db

# Diğer
*.db
*.sqlite3
# Kişisel ayarlar ve IDE dosyaları
.idea/
*.log

# Kişisel ayarlar ve IDE dosyaları
.idea/
*.log 